S3method(coef, ds)
S3method(coef, io)
S3method(coef, io.fi)
S3method(coef, trial)
S3method(coef, trial.fi)
S3method(coef, rem)
S3method(coef, rem.fi)
export(ddf.ds)
export(ddf.gof)
export(ddf.io.fi)
export(ddf.io)
export(ddf)
export(ddf.rem.fi)
export(ddf.rem)
export(ddf.trial.fi)
export(ddf.trial)
import(optimx)
export(dht)
export(dht.se)
import(mgcv)
S3method(plot, ds)
S3method(plot, io.fi)
S3method(plot, io)
S3method(plot, trial.fi)
S3method(plot, trial)
export(predict.ds)
export(predict.io.fi)
export(predict.io)
export(predict.rem.fi)
export(predict.rem)
export(predict.trial.fi)
export(predict.trial)
export(print.ddf.gof)
export(print.dht)
S3method(print, summary.ds)
S3method(print, summary.io.fi)
S3method(print, summary.io)
S3method(print, summary.rem.fi)
S3method(print, summary.rem)
S3method(print, summary.trial.fi)
S3method(print, summary.trial)
export(qqplot.ddf)
S3method(summary, ds)
S3method(summary, io.fi)
S3method(summary, io)
S3method(summary, rem.fi)
S3method(summary, rem)
S3method(summary, trial.fi)
S3method(summary, trial)
