S3method(coef,ds)
S3method(coef,io)
S3method(coef,io.fi)
S3method(coef,rem)
S3method(coef,rem.fi)
S3method(coef,trial)
S3method(coef,trial.fi)
S3method(ddf,ds)
S3method(ddf,io)
S3method(ddf,io.fi)
S3method(ddf,rem)
S3method(ddf,rem.fi)
S3method(ddf,trial)
S3method(ddf,trial.fi)
S3method(plot,det.tables)
S3method(plot,ds)
S3method(plot,io)
S3method(plot,io.fi)
S3method(plot,rem)
S3method(plot,rem.fi)
S3method(plot,trial)
S3method(plot,trial.fi)
S3method(predict,ds)
S3method(predict,io)
S3method(predict,io.fi)
S3method(predict,rem)
S3method(predict,rem.fi)
S3method(predict,trial)
S3method(predict,trial.fi)
S3method(print,ddf)
S3method(print,ddf.gof)
S3method(print,det.tables)
S3method(print,dht)
S3method(print,summary.ds)
S3method(print,summary.io)
S3method(print,summary.io.fi)
S3method(print,summary.rem)
S3method(print,summary.rem.fi)
S3method(print,summary.trial)
S3method(print,summary.trial.fi)
S3method(summary,ds)
S3method(summary,io)
S3method(summary,io.fi)
S3method(summary,rem)
S3method(summary,rem.fi)
S3method(summary,trial)
S3method(summary,trial.fi)
export(DeltaMethod)
export(ddf)
export(ddf.gof)
export(det.tables)
export(dht)
export(dht.se)
export(plot.io)
export(plot.rem)
export(plot.rem.fi)
export(qqplot.ddf)
import(mgcv)
import(optimx)
